server:
  port: 8080

spring:
  application:
    name: spring-visualizer
  data:
    mongodb:
      uri: mongodb://mongodb-primary:27017,mongodb-secondary1:27017,mongodb-secondary2:27017/fileshare_metadata?replicaSet=rs0

soap:
  client:
    url: http://soap-service:8080/soap/files

# Resilience4j Circuit Breaker Configuration
resilience4j:
  circuitbreaker:
    instances:
      soapService:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        automaticTransitionFromOpenToHalfOpenEnabled: true
        waitDurationInOpenState: 30s
        failureRateThreshold: 50
        eventConsumerBufferSize: 10
        recordExceptions:
          - java.lang.Exception
          - org.springframework.web.client.RestClientException
  retry:
    instances:
      soapService:
        maxAttempts: 3
        waitDuration: 1s
        enableExponentialBackoff: true
        exponentialBackoffMultiplier: 2
        retryExceptions:
          - java.net.ConnectException
          - java.net.SocketTimeoutException
          - org.springframework.web.client.ResourceAccessException

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,circuitbreakers,circuitbreakerevents
  endpoint:
    health:
      show-details: always
  health:
    circuitbreakers:
      enabled: true
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    root: INFO
    com.fileshare: DEBUG
    org.springframework.ws: DEBUG
    io.github.resilience4j: DEBUG
