[mysqld]
server-id=2
log-bin=mysql-bin
binlog-format=ROW
gtid-mode=ON
enforce-gtid-consistency=ON
log-slave-updates=ON
read-only=1
super-read-only=1
binlog-checksum=NONE

# Performance
innodb_buffer_pool_size=256M
innodb_log_file_size=64M
